.space{
	padding: 20px 0px;
}
.btn{
	border: none;
	border-radius: 5px;
	height: 30px;
	width: 80px;
	margin: 10px;
	text-decoration: none;
	color: black;
	border-bottom: 1px solid black;
}
 .link li{
            display: inline-block;
            padding: 20px 20px;

		}
.link li a{
			text-decoration: none;
			color: white;
			padding: 15px;
		 	font-weight: bold;
//font-family: Calibri;
			font-size: 1.2em; 


		}
.text{
	background: transparent;
	border: none;
	border-bottom: 2px solid black;
	margin: 25px;
}
nav{
			
	 background-color: #901C3B;
	box-shadow: 2px 2px 30px;
	width: 100%;

	}
.row{
			display: table-row;

			
	}
.column{
			display: table-cell;
		}
.design{
	width: 50%;
	margin: 30px 200px;
}
.button {
   
    border: none;
    color: white;
    padding: 16px 32px;
    //text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
   
    align-content: center;
}
.button3 {
    background-color: white; 
    color: white; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: black;
}

.start{
	width: 200px;
	margin: 30px 30px;
}

.button2 {
    color: white; 
   
}

.button2:hover {
    
    color: black;
}

.button4 {
    color: white; 
    border: none;
    border-radius: 2px;
    width: 80px;
    height: 40px;
    color: white;
}

.button4 a {
 	all:unset;
}

#headers{
	text-align: center;
	padding: 31px 300px;
	margin: auto;
	border: 0.5px solid black;
    box-shadow: 2px 2px 20px;
    background-image: url(hos.jpg);
    background-attachment: fixed;
    
    //height: 50%;
    background-size: cover;
}
#main{
	font-size: 1.5em;
	color: black;
	background-color: rgba(255,255,255,0.8);
	padding: 20px 60px;
	width: 300px;
	margin: 10px 150px;
}
.end{
	width: 200px;
	margin: 10px 40px;

}
.button5 {
    color: white; 
    border: none;
    border-radius: 2px;
    width: 120px;
    height: 50px;
    color: white;
    background-color:#E55B61 ;
}
.update{
	border: none;
	
}
.td{
	height:100%;
}
.button7{
	 border: none;
	  color: white;
	  height: 30px;
	  border-radius: 15px; 
}